* {margin:0; padding:0;}
main {padding:4px;}
h1, h3 {padding:8px;}
table {border-collapse:collapse; width:100%; border-top:1px solid gray; margin-bottom:8px;}
tr {border-bottom:1px solid gray;}
th {text-align:left; background-color:orangered; color:white;}
.info th, .info td {padding:4px;}